input {
    background-color: darkslategray;
    margin: 10px;
    color: white;
    font-size: 12px;
    padding: 15px 32px;
    border: none;
}

button {
    margin: 10px;
}

label {
    margin: 10px
}

li {
    list-style: none;
}

::placeholder {
    color: white;
  }

.button {
    background-color: darkslategray;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
  }

.header {
    text-align: center;
    background: darkslategray;
    color: white;
    font-size: 30px;
    width: 100%;
  }
